.git
__pycache__
.env
venv/
*.pyc
node_modules/
build/
.github
**/node_modules/
node_modules
.npm
.cache
build
.git
.gitignore
*.md
.env*
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
*.swp
*.swo
*~
build/
.github
**/node_modules/